
.display {
  display: flex;
  flex-flow: column;
  border-top: 1px solid $gray-dark;
  border-bottom: 1px solid $gray-dark;

  p {
    margin: 0;
    padding: 0 5px;
    text-align: right;
    color: $gray-dark;
    background-color: #fff;
  }
}


@mixin display($height, $font-size) {
  height: $height;
  font-size: $font-size;
  line-height: $height;
}

#expr {
  @include display(70px, 1.2em);
  border-bottom: 1px solid $gray-dark;
}

#res {
  @include display(50px, 1.3em);
}

#cursor {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 2px;
  margin-right: 2px;
  height: 1.2em;
  width: 0.05em;
  background-color: $text-cursor-color;
  animation-name: cursorblink;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes cursorblink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
